MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=change_me_root
MONGO_DB_NAME=cloudvault
MONGO_APP_USER=cloudvault_app
MONGO_APP_PASSWORD=change_me_app

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET_NAME=cloudvault-files